@import "../core/variables.scss";
@import "../core/mixins.scss";

.header{
  display: none;
  @include laptop{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.375rem;
    border-bottom: 1px solid $color-line;
    &__nav{
      width: 300px;
      &--menu,
      .menuDesktop{
        display: flex;
        justify-content: space-between;
        list-style:none;
        &__item{
          &--activeLink{
            text-decoration: none;
            font-style: normal;
            font-weight: 400;
            font-size: $base;
            color: $color-secondary;
            border-bottom: 4px solid $color-secondary;
            padding-bottom: 1.25rem;
            padding-left: 3rem;
            padding-right: 3rem;
          }
          &--noActiveLink{
            text-decoration: none;
            font-style: normal;
            font-weight: 400;
            font-size: $base;
            color: $color-menuGray;
          }
        }
      }
    }
  }
}

