@import "../core/variables.scss";
@import "../core/mixins.scss";

.contentSectionHead{
  @include laptop{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top:2.625rem;
  }
  @include full-desktop{
    max-width: 83.75%;
  }
  &__title{
    @include laptop{
      font-size: $huge;
      color: $color-dark;
      font-weight: bold;
    }
  }
  &__showFavourites,
  &__showAll{
    @include laptop{
      font-size: $small;
      color: $color-secondary;
      line-height: 16px;
      font-weight: normal;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      outline: none;
      background-color: transparent;
      border: 0px solid transparent;

    }
    &--eyeSymbol{
      @include laptop{
        margin-left: .25rem;
      }
    }
  }
}

.contentSectionContainer{
  &__header{
    border-bottom: 1px solid $color-light;
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    @include full-desktop{
      width: 83.5%;
    }
    &--sectionName{
      display:none;
      @include laptop{
        display:block;
        margin-top:1.375rem;
        color: $color-dark;
        font-weight: bold;
        font-size: $big;
        padding-bottom: .344rem;
      }
    }
    &--sortLabel{
      display:none;
      @include laptop{
        display:block;
        margin-top:1.375rem;
        color: $color-darkGray;
        font-size: $tiny;
        padding-bottom: .344rem;
        cursor: pointer;
        outline: none;
        background-color: transparent;
        border: 0px solid transparent;
      }
    }
  }
  &__resources{ 
    @include laptop{
      display:flex;
      flex-wrap: wrap;
    }
    @include desktop{
      width: 110%;
      max-width: 110%;
    }    
    @include full-desktop{
      width: 86%;
      max-width: 86%;
    }
    &--list{
      @include laptop{
        margin-right: 0.75rem;
        margin-top: 0.75rem;
      }
    }
  }
}

.favouritesResources{
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid $color-light;
  // flex-wrap:wrap;
}

