//Fonts
$font-family: 'Roboto', sans-serif;

//Colors

$color-primary: #FFFFFF;
$color-secondary: #18C6AC; 
$color-light: #C5D6D5;
$color-dark: #192F2D;
$color-line: #E6E6E6;
$color-menuGray: #99ABA9;
$color-darkGray: #A3B7B5;

//Font-size
$tiny: 0.75rem; //12px
$small: 0.875rem;  //14px
$base: 1.125rem; //18px
$big: 1.25rem; //20px
$huge: 1.5rem; //24px

//Breakpoints
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;
$full-desktop: 1660px;

